@import url("https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

.full_container {
  width: 100%;
  margin: 0 auto;
}
.container {
  width: 90%;
  margin: 0 auto;
}

.inline {
  display: flex;
}

.box {
  width: 50%;
}

.welcome_section {
  padding: 40px 0px;
  background: url(./images/top-banner.png) no-repeat left top;
  margin-bottom: 60px;
}

.welcome_section h1,
.welcome_section h2,
.welcome_section h4,
.welcome_section p,
.dream_section h1,
.dream_section h4,
.dream_section p {
  color: #252525;
  font-family: "Bona Nova", serif;
  font-weight: 700;
  font-size: 4.5rem;
  padding: 40px 0px 25px 0px;
  margin: 0px;
}

.welcome_section h2 {
  font-size: 2.6rem;
  padding-top: 0px;
}

.welcome_section h2 span {
  color: orange;
}

.welcome_section h4,
.dream_section h4 {
  font-size: 1.3rem;
  padding: 0px 0px 10px 0px;
  font-weight: 400;
}

.welcome_section p,
.dream_section p {
  font-size: 16px;
  padding: 0px;
  font-weight: 400;
  margin-bottom: 25px;
}

.welcome_section a,
.dream_section a {
  padding: 10px 20px;
  color: #fff;
  background: linear-gradient(45deg, lightsalmon, tomato);
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Bona Nova", serif;
  font-weight: 700;
  border-radius: 7px;
}

.welcome_section .right_item {
  text-align: center;
  width: 43%;
  margin-left: 3%;
}

.welcome_section img,
.dream_section img {
  width: 100%;
}

/* welcome_section is done */

.dream_section {
  padding: 30px 0px;
  background: url(./images/dream-bg.png) no-repeat right center;
  margin-bottom: 0px;
}

.dream_section h1 {
  font-size: 3rem;
}

.dream_section .left_item {
  width: 43%;
  margin-right: 3%;
}

.dream_section .right_item {
  padding-left: 30px;
}
/* dream_section is done */

.experience_section {
  padding: 40px 0px;
  background: url(./images/exp-bg.png) no-repeat left center;
}

.experience_section .title {
  margin-bottom: 15px;
  color: #252525;
  font-family: "Bona Nova", serif;
  font-weight: 700;
  font-size: 2.7rem;
  padding: 40px 0px 25px 0px;
  margin: 0px;
}

.experience_section .container .box {
  width: 47%;
  padding: 30px 25px 70px 25px;
}

.experience_section .container .left_item {
  box-shadow: 5px 7px 40px grey;
  margin-right: 3%;
  border-left: 7px solid;
  border-image: linear-gradient(180deg, lightsalmon, tomato);
  border-image-slice: 1;
}

.experience_section .container .right_item {
  box-shadow: 5px 7px 40px grey;
  margin-left: 3%;
  border-left: 7px solid;
  border-image: linear-gradient(180deg, blue, cyan);
  border-image-slice: 1;
}

.experience_section .container h1 {
  color: #252525;
  font-family: "Bona Nova", serif;
  font-weight: 700;
  font-size: 1.9rem;
  padding: 15px 0px 15px 0px;
  margin: 0px;
}

.experience_section .container h4 {
  color: orange;
  font-family: "Bona Nova", serif;
  font-weight: 700;
  font-size: 1.4rem;
  padding: 10px 0px 5px 0px;
  margin: 0px;
}

.experience_section .container p {
  color: gray;
  font-family: "Bona Nova", serif;
  font-weight: 400;
  font-size: 17px;
  margin: 0px;
  text-align: justify;
  margin-top: 6px;
}

/* experience_section done */
