<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap");

* {
  margin: 0px;
  padding: 0px;
  outline: 0;
  box-sizing: border-box;
}

body {
  width: 90%;
  margin: 0 auto;
}

.inline {
  display: flex;
}

.box {
  width: 50%;
}

.welcome_section {
  padding: 40px 0px;
}

.welcome_section h1,
.welcome_section h2,
.welcome_section h4,
.welcome_section p {
  color: #252525;
  font-family: "Bona Nova", serif;
  font-weight: 700;
  font-size: 4.5rem;
  padding: 40px 0px 25px 0px;
}

.welcome_section h2 {
  font-size: 2.6rem;
  padding-top: 0px;
}

.welcome_section h2 span {
  color: orange;
}

.welcome_section h4 {
  font-size: 1.3rem;
  padding: 0px 0px 10px 0px;
  font-weight: 400;
}

.welcome_section p {
  font-size: 15px;
  padding: 0px;
  font-weight: 400;
  margin-bottom: 20px;
}

.welcome_section a {
  padding: 10px 20px;
  color: #fff;
  background: linear-gradient(45deg, lightsalmon, tomato);
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Bona Nova", serif;
  font-weight: 700;
}

.welcome_section .right_item {
  text-align: center;
  width: 43%;
  margin-left: 3%;
}

.welcome_section img {
  width: 100%;
}
=======

>>>>>>> 76b3a268ef2637228cfc3ae0f538348c054f1c91
